{{define "browse"}}

<br/>

<div class="dropdown show">
    <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="fa fa-folder"></span> {{.Dir}}
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        {{range .ParentDirLinks}}
        <a class="dropdown-item" href="{{.Link}}">{{.Dir}}</a>
        {{end}}
    </div>
</div>



<br/>


<div>
    <button type="button" class="btn btn-outline-success">Done Adding Paths</button>
</div>

<br/>

<div class="table-responsive">
    <table class="table table-sm table-striped restic-selection-table">
        <tbody>

        {{ range $i, $f := .Files}}
        <tr>
            <td>
                {{if $f.IsDir}}
                <a href="{{call $.LinkToFileInDir .Name}}">{{$f.Name}}</a>
                {{else}}
                {{$f.Name}}
                {{end}}
            </td>

            <td>
                <div class="container">
                    <div class="checkbox-round">
                        <input type="checkbox" id="checkbox-{{$i}}"
                               data-repo="{{$.CurrRepoName}}"
                               data-dir="{{$.Dir}}"
                               data-path="{{$f.Name}}"
                               title="{{$f.Name}}"
                               {{if call $.IsSelected $.Dir $f.Name}}
                               checked
                               {{end}}
                        />
                        <label for="checkbox-{{$i}}"></label>
                    </div>
                </div>
            </td>
        </tr>
        {{end}}

        </tbody>
    </table>
</div>

<script>
    $(function () {
        $('input[type=checkbox]').change(function(e) {
            var input = this;
            var myRow = $(input).closest('tr');
            e.preventDefault();

            var dir = $(input).data('dir');
            var path = $(input).data('path');
            var repo = $(input).data('repo');
            var selected = input.checked;

            $.ajax({
                type: "POST",
                url: "/addpath",
                data: { repo: repo, dir: dir, path: path, selected: selected},
                success: function(response) {
                    console.log('success: ' + JSON.stringify(response));
                    eval(response.on_success);

                    myRow.addClass('pulse');

                    setTimeout(function() {
                        myRow.removeClass('pulse');
                    }, 500);

                },
                error: function(xhr, status, error) {
                    console.log('got xhr: ' + xhr + ', status: ' + status + ', error: ' + error);
                    console.log('error: got xhr.responseText: ' + xhr.responseText);
                    console.log('error: got xhr.responseJSON: ' + xhr.responseJSON);
                }
            });
            return false;
        });
    });


</script>
{{end}}
