{{define "browse"}}

<br/>
<span>
    Showing files in {{.Dir}}:
</span>
<br/>
<br/>

<div class="table-responsive">
    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <th>Path</th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <td>
                <a href="{{$.LinkToParentDir}}">
                    <span class="fa fa-level-up"></span>
                </a>
            </td>
            <td><button type="button" class="btn btn-info">Add This Directory</button></td>
        </tr>


        {{ range $i, $f := .Files}}
        <tr>
            <td>
                {{if $f.IsDir}}
                <a href="{{call $.LinkToFileInDir .Name}}">{{$f.Name}}</a>
                {{else}}
                {{$f.Name}}
                {{end}}
            </td>

            <td>
                <div class="container">
                    <div class="checkbox-round">
                        <input type="checkbox" id="checkbox-{{$i}}"
                               data-repo="{{$.CurrRepoName}}"
                               data-dir="{{$.Dir}}"
                               data-path="{{$f.Name}}"
                               title="{{$f.Name}}"/>
                        <label for="checkbox-{{$i}}"></label>
                    </div>
                </div>
            </td>
        </tr>
        {{end}}

        </tbody>
    </table>
</div>

<script>
    $(function () {
        // TODO: maybe find a way to make this func reusable, rather than creating it anew for each button?
        $('input[type=checkbox]').change(function(e) {
            var button = this;
            var myRow = $(this).closest('tr');
            e.preventDefault();

            dir = $(this).data('dir');
            path = $(this).data('path');
            repo = $(this).data('repo');

            $.ajax({
                type: "POST",
                url: "/addpath",
                data: { repo: repo, dir: dir, path: path},
                success: function(response) {
//                    modal.modal('hide');
//                    $(errorsUl).empty();
//                    $(errorsDiv).hide();

                    eval(response.on_success);
                    console.log('success: ' + JSON.stringify(response));

                    myRow.addClass('stylish');

                    setTimeout(function() {
                        myRow.removeClass('stylish');
                    }, 1000);

                },
                error: function(xhr, status, error) {
                    console.log('got xhr: ' + xhr + ', status: ' + status + ', error: ' + error);
                    console.log('error: got xhr.responseText: ' + xhr.responseText);
                    console.log('error: got xhr.responseJSON: ' + xhr.responseJSON);

                    alert('got xhr: ' + xhr + ', status: ' + status + ', error: ' + error);

                    // clear previous errors, if any
//                    $(errorsUl).empty();
//
//                    $.each(xhr.responseJSON, function( key, value ) {
//                        li = '<li>' + value + '</li>'; //showing only the first error.
//                        $(errorsUl).append(li);
//                    });
//
//                    $(errorsDiv).show();
                }
            });
            return false;
        });
    });


</script>


{{end}}
