{{define "flash"}}
{{/* flashes are used to display messages after a redirect */}}

<section class="text-center placeholders">

    {{if .Success}}
    <div class="alert alert-success alert-dismissable fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>

        <strong>{{.Success}}</strong>
    </div>
    {{end}}


    {{if .Info}}
    <div class="alert alert-info alert-dismissable fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>

        <strong>{{.Info}}</strong>
    </div>
    {{end}}

    {{if .Warning}}
    <div class="alert alert-warning alert-dismissable fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>

        <strong>{{.Warning}}</strong>
    </div>
    {{end}}

    {{if .Danger}}
    <div class="alert alert-danger alert-dismissable fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>

        <strong>{{.Danger}}</strong>
    </div>
    {{end}}

</section>

{{end}}
