{{define "paths"}}

<br/>
<span>
    The following paths will be included in the backups for "{{.CurrRepoName}}".
</span>
<br/>
<br/>


<div class="table-responsive">
    <table class="table table-sm table-striped">
        <tbody>

        <tr>
            <td>&nbsp;</td>
            <td>
                <a class="btn btn-success" href="#" data-toggle="modal" data-target="#addPathModal">Add a Path</a>
            </td>
        </tr>

        {{ range $i, $f := .Paths}}
        <tr>
            <td>{{.}}</td>
            <td>
                <a class="btn btn-outline-danger" href="#">Remove</a>
            </td>
        </tr>
        {{end}}
        </tbody>
    </table>
</div>

{{template "add_path" . }}

{{end}}
