<!DOCTYPE html>
<html lang="en">
{{template "header" . }}
<body>

{{template "nav" . }}

<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
            <ul class="nav nav-pills flex-column">

                {{if .Repos}}
                {{range .Repos}}
                <li class="nav-item">
                    <a class="nav-link {{call $.Css_class .Name}}" href="{{RepoPath .}}">{{.Name}}</a>
                </li>
                {{end}}

                {{else}}
                <li class="nav-item">
                    <span class="nav-link">No repos yet.</span>
                </li>
                {{end}}

                <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#addRepoModal">NEW Repo</a>
                </li>

                <div class="dropdown-divider"></div>
            </ul>

        </nav>

        <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
            {{template "flash" .Flash }}

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="{{.Nav.BackupUrl}}">Backup</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{.Nav.SnapshotsUrl}}">Snapshots</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{.Nav.PathsUrl}}">Paths</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{.Nav.ExcludesUrl}}">Exclusions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{.Nav.ScheduleUrl}}">Schedule</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{.Nav.BrowseUrl}}">Browse</a>
                </li>
            </ul>

            <br/>

            <div>
                Run backup for <span class="font-weight-bold">{{.CurrRepoName}}</span>.
            </div>
            <br/>

            <div class="alert alert-info fade show" role="alert" style="display: none;">
                <button type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong id="ajax-info">placeholder!</strong>
            </div>

            <div class="alert alert-danger fade show" role="alert" style="display: none;">
                <button type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong id="ajax-error">placeholder!</strong>
            </div>
            <br/>
            <br/>

            <div>
                <!-- ajax will specify method="DELETE" -->
                <form action="/runbackup" method="post">
                    <input type="hidden" name="repo" value="{{$.CurrRepoName}}">
                    <button type="submit" class="btn btn-success run-backup">Backup Now</button>
                </form>
            </div>
            <br/>
            <br/>


            <div id="progress-container">
            </div>

            {{template "show_ajax_errors" . }}

            <script>
                var timeout = 60000; // milliseconds

                function doPoll() {
                    $.ajax({
                        url: "/status?timeout=" + timeout,
                        timeout: timeout,
                        success: function (response) {
                            console.log('success: ' + JSON.stringify(response));

                            if (response === "") {
                                // long-poll timeout on server end, no status to update
                                console.log("long poll timeout on server, carry on");
                            } else {
                                var repo = response['RepoName'];
                                var percentDone = response["PercentDone"];
                                var percentDoneString =  percentDone + '%';
                                var statusMsg = response['StatusMsg'];
                                var indeterminate = response['Indeterminate'];
                                var error = response['Error'];

                                updateOrCreateProgressBar(repo, percentDone, percentDoneString, statusMsg, indeterminate, error);
                            }

                            setTimeout(doPoll, 500);
                        },
                        error: function (xhr, status, error) {
                            console.log('error, xhr: ' + JSON.stringify(xhr) + ', status: ' + JSON.stringify(status) + ', error: ' + JSON.stringify(error));

                            if (status === "timeout") {
                                // long-poll timeout on client end, no status to update
                                console.log("long poll timeout on client, carry on");
                            } else {
                                showAjaxErrors(xhr. status, error);
                            }

                            setTimeout(doPoll, 2000);
                        }
                    });
                }

                $(document).ready(function(){
                    doPoll();
                });

                function updateOrCreateProgressBar(repo, percentDone, percentDoneString, statusMsg, indeterminate, error) {
                    // TODO: ensure repo names have no spaces, can always serve as ids
                    var pbarId = 'progress-bar-' + repo;
                    var statusSpanId = 'status-msg-' + repo;
                    var pbar = $('#' + pbarId);
                    if (pbar.length === 0) {
                        console.log("did not find " + pbarId);

                        var container = $('#progress-container');
                        $(container).append($('<div><span>' + repo + '</span></div><div><span id="' + statusSpanId + '"></span></div>'));
                        var holder = $('<div class="progress"></div><br/>');

                        pbar = $('<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>');
                        $(pbar).attr('id', pbarId);

                        $(holder).append(pbar);
                        $(container).append(holder);
                    }

                    if (error !== "") {
                        $('#' + statusSpanId).text("");
                        $(pbar).removeClass('progress-bar-striped progress-bar-animated');
                        $(pbar).addClass('bg-danger');
                        $(pbar).attr('aria-valuenow', percentDone).css('width', '100%').text(error);
                    } else {
                        if (indeterminate) {
                            $('#' + statusSpanId).text("");
                            $(pbar).addClass('progress-bar-striped progress-bar-animated');
                            $(pbar).attr('aria-valuenow', percentDone).css('width', '100%').text(statusMsg);
                        } else {
                            $('#' + statusSpanId).text("");
                            $(pbar).removeClass('progress-bar-striped progress-bar-animated');
                            $(pbar).attr('aria-valuenow', percentDone).css('width', percentDoneString).text(statusMsg + ": " + percentDoneString);
                        }
                    }
                }
            </script>

            <script>
                $(function () {
                    $('.run-backup').click(function (e) {
                        e.preventDefault();

                        var form = $(this).closest('form');
                        var infoSpan = $('#ajax-info');
                        var infoDiv = $(infoSpan).closest('div');

                        $.ajax({
                            type: "POST",
                            url: "/runbackup?" + $(form).serialize(),
                            success: function (response) {
                                $(infoSpan).text(response["on_success"]);
                                $(infoDiv).show();
                            },
                            error: showAjaxErrors
                        });
                        return false;
                    });
                });
            </script>

            {{template "add_repo_modal"}}
        </main>
    </div>
</div>
{{template "footer" . }}
</body>
</html>
