<!DOCTYPE html>
<html lang="en">
{{template "header" . }}
<body>

{{template "nav" . }}

<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
            <ul class="nav nav-pills flex-column">

            </ul>
        </nav>

        <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
            {{template "flash" .Flash }}

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="{{.Nav.BackupUrl}}">Backup</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{.Nav.SnapshotsUrl}}">Snapshots</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{.Nav.PathsUrl}}">Paths</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{.Nav.ExcludesUrl}}">Exclusions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{.Nav.ScheduleUrl}}">Schedule</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{.Nav.BrowseUrl}}">Browse</a>
                </li>
            </ul>

            <br/>
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <div class="dropdown show">
                        <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="fa fa-folder"></span> {{.Dir}}
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            {{range .ParentDirLinks}}
                            <a class="dropdown-item" href="{{.Link}}">{{.Dir}}</a>
                            {{end}}
                        </div>
                    </div>
                </div>

                <!-- just add some space between the buttons -->
                <div class="btn-group mr-2" role="group" aria-label="Second group">
                </div>
                <div class="btn-group mr-2" role="group" aria-label="Second group">
                </div>

                <div class="btn-group mr-2" role="group" aria-label="Second group">
                    <a class="btn btn-outline-success" href="{{.Nav.PathsUrl}}">Done</a>
                </div>

            </div>

            <br/>
            <div class="row">
                <div class="col-md-8">
                    <table class="table table-sm table-striped restic-selection-table">
                        <tbody>

                        {{range $i, $f := .Files}}
                        <tr>
                            <td>
                                <code>
                                    {{if $f.IsDir}}
                                    <a href="{{call $.LinkToFileInDir .Name}}">{{$f.Name}}</a>
                                    {{else}}
                                    {{$f.Name}}
                                    {{end}}
                                </code>
                            </td>

                            <td>
                                <div class="container">
                                    <div class="checkbox-round">
                                        <input type="checkbox" id="checkbox-{{$i}}"
                                               data-repo="{{$.CurrRepoName}}"
                                               data-dir="{{$.Dir}}"
                                               data-path="{{$f.Name}}"
                                               title="{{$f.Name}}"
                                               {{if call $.IsSelected $.Dir $f.Name}}
                                               checked
                                               {{end}}
                                        />
                                        <label for="checkbox-{{$i}}"></label>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {{end}}

                        </tbody>
                    </table>
                </div>
            </div>

            <script>
                $(function () {
                    $('input[type=checkbox]').change(function(e) {
                        var input = this;
                        var myRow = $(input).closest('tr');
                        e.preventDefault();

                        var dir = $(input).data('dir');
                        var path = $(input).data('path');
                        var repo = $(input).data('repo');
                        var selected = input.checked;

                        $.ajax({
                            type: "POST",
                            url: "/addpath",
                            data: { repo: repo, dir: dir, path: path, selected: selected},
                            success: function(response) {
                                console.log('success: ' + JSON.stringify(response));
                                eval(response.on_success);

                                myRow.addClass('pulse');

                                setTimeout(function() {
                                    myRow.removeClass('pulse');
                                }, 500);

                            },
                            error: function(xhr, status, error) {
                                console.log('got xhr: ' + xhr + ', status: ' + status + ', error: ' + error);
                                console.log('error: got xhr.responseText: ' + xhr.responseText);
                                console.log('error: got xhr.responseJSON: ' + xhr.responseJSON);
                            }
                        });
                        return false;
                    });
                });


            </script>
        </main>
    </div>
</div>
{{template "footer" . }}
</body>
</html>
