<!DOCTYPE html>
<html lang="en">
{{template "header" . }}
<body>

{{template "nav" . }}

<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
            <ul class="nav nav-pills flex-column">

            </ul>
        </nav>

        <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
            {{template "flash" .Flash }}

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="{{.Nav.BackupUrl}}">Backup</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{.Nav.SnapshotsUrl}}">Snapshots</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{.Nav.PathsUrl}}">Paths</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{.Nav.ExcludesUrl}}">Exclusions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{.Nav.ScheduleUrl}}">Schedule</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{.Nav.BrowseUrl}}">Browse</a>
                </li>
            </ul>

            <br/>
            <span>Restore in progress.</span>
            <br/>
            <br/>

            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group">
                    <a id="stop-restore-button" class="btn btn-secondary" href="#" data-toggle="modal" data-target="#confirmStopRestoreModal" >Stop Restore</a>
                </div>
            </div>
            <br/>
        </main>
    </div>
</div>

<div class="modal fade" id="confirmStopRestoreModal" tabindex="-1" role="dialog" aria-labelledby="confirmStopRestoreModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Stop Restore</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="modal-errors" aria-hidden="true" style="display: none;">
                    <ul class="modal-errors alert alert-danger">

                    </ul>
                </div>

                <div>
                    Are you sure you want to stop the restore?
                </div>

                <form id="add-repo-form" action="/stop_restore" method="post">
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="confirm-button">Stop Restore</button>
            </div>
        </div>
    </div>
</div>

<script>

    $(function () {
        var form;

        // button that brings up the modal
        $('#stop-restore-button').click(function (e) {
            e.preventDefault();

            // remember form so it can be submitted if user clicks "OK" in modal
            form = $(this).closest('form');
        });

        // OK button in modal
        $('#confirm-button').click(function (e) {
            e.preventDefault();

            var modal = $('#confirmStopRestoreModal');
            var errorsDiv = $(modal).find('.modal-errors')[0];
            var errorsUl = $(modal).find('ul.modal-errors')[0];

            $.ajax({
                type: "POST",
                url: "/stop_restore",
                data: $(form).serialize(),
                success: function (response) {
                    modal.modal('hide');
                    $(errorsUl).empty();
                    $(errorsDiv).hide();

                    eval(response.on_success);
                },
                error: function (xhr, status, error) {
                    // no real error handling here- actual errors will be displayed in flash after redirect

                    console.log('got xhr: ' + xhr + ', status: ' + status + ', error: ' + error);
                    console.log('error: got xhr.responseText: ' + xhr.responseText);
                    console.log('error: got xhr.responseJSON: ' + xhr.responseJSON);
                }
            });
            return false;
        });
    });

</script>

{{template "footer" . }}
</body>
</html>
