<!DOCTYPE html>
<html lang="en">
{{template "header" . }}
<body>

{{template "nav" . }}

<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
            <ul class="nav nav-pills flex-column">

                {{if .Repos}}
                  {{range .Repos}}
                        <li class="nav-item">
                            <a class="nav-link {{call $.Css_class .Name}}" href="{{RepoPath .}}">{{.Name}}</a>
                        </li>
                {{end}}

                {{else}}
                <li class="nav-item">
                    <span class="nav-link">No repos yet.</span>
                </li>
                {{end}}

                <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#addRepoModal">NEW Repo</a>
                </li>
            </ul>
        </nav>

        <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
            {{template "flash" .Flash }}

            {{ if ne .Nav.Tab ""}}
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link {{.Nav.CssForTab "backup"}}" href="{{.Nav.BackupUrl}}">Backup</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{.Nav.CssForTab "snapshots"}}" href="{{.Nav.SnapshotsUrl}}">Snapshots</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{.Nav.CssForTab "paths"}}" href="{{.Nav.PathsUrl}}">Paths</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{.Nav.CssForTab "excludes"}}" href="{{.Nav.ExcludesUrl}}">Exclusions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{.Nav.CssForTab "schedule"}}" href="{{.Nav.ScheduleUrl}}">Schedule</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{.Nav.CssForTab "browse"}}" href="{{.Nav.BrowseUrl}}">Browse</a>
                </li>
            </ul>
            {{end}}

            {{ if eq .Nav.Tab "schedule"}}
            {{template "schedule" . }}
            {{end}}

            {{ if eq .Nav.Tab "browse"}}
            {{template "browse" . }}
            {{end}}

            {{ if eq .Nav.Tab "restore"}}
            {{template "restore" . }}
            {{end}}

            {{template "add_repo_modal"}}
        </main>
    </div>
</div>
{{template "footer" . }}
</body>
</html>
