<!DOCTYPE html>
<html lang="en">
{{template "header" . }}
<body>

{{template "nav" . }}

<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
            <ul class="nav nav-pills flex-column">

            </ul>
        </nav>

        <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
            {{template "flash" .Flash }}

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="{{.Nav.BackupUrl}}">Backup</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{.Nav.SnapshotsUrl}}">Snapshots</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{.Nav.PathsUrl}}">Paths</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{.Nav.ExcludesUrl}}">Exclusions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{.Nav.ScheduleUrl}}">Schedule</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{.Nav.BrowseUrl}}">Browse</a>
                </li>
            </ul>

            <div id="progress-container">
            </div>

            {{template "show_ajax_errors" . }}
            {{template "update_progress_bar" . }}

            <script>
                var timeout = 60000; // milliseconds

                function doPoll() {
                    console.log('doing poll...');
                    $.ajax({
                        url: "/status?timeout=" + timeout,
                        timeout: timeout,
                        success: function (response) {
                            console.log('restore poll success ' + JSON.stringify(response));
                            if (response === "") {
                                // long-poll timeout on server end, no status to update
                                console.log("long poll timeout on server, carry on");
                            } else {
                                if (response['Type'] === 'RESTORE') {
                                    var repo = response['RepoName'];
                                    var percentDone = response["PercentDone"];
                                    var percentDoneString = percentDone + '%';
                                    var statusMsg = response['StatusMsg'];
                                    var indeterminate = response['Indeterminate'];
                                    var error = response['Error'];

                                    updateOrCreateProgressBar(repo, percentDone, percentDoneString, statusMsg, indeterminate, error);
                                }
                            }

                            setTimeout(doPoll, 500);
                        },
                        error: function (xhr, status, error) {
                            console.log('restore poll error, xhr: ' + JSON.stringify(xhr) + ', status: ' + JSON.stringify(status) + ', error: ' + JSON.stringify(error));

                            if (status === "timeout") {
                                // long-poll timeout on client end, no status to update
                                console.log("long poll timeout on client, carry on");
                            } else {
                                showAjaxErrors(xhr. status, error);
                            }

                            setTimeout(doPoll, 2000);
                        }
                    });
                }

                $(document).ready(function(){
                    doPoll();
                    console.log('restore poll started...');
                });

            </script>


            <br/>
            <span>Select files/directories to be included in the restore, then click "Begin Restore" to start.</span>
            <br/>
            <br/>

            <!--TODO: dropdown copied from browse.html-->
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <div class="dropdown show">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="fa fa-folder"></span> {{.Dir}}
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            {{range .ParentDirLinks}}
                            <a class="dropdown-item" href="{{.Link}}">{{.Dir}}</a>
                            {{end}}
                        </div>
                    </div>
                </div>

                <div class="btn-group mr-2" role="group">
                    <a class="btn btn-secondary" href="#">Cancel Restore</a>
                </div>

                <div class="btn-group mr-2" role="group">
                    <form action="/restore" method="post">
                        <input type="hidden" name="repo" value="{{$.CurrRepoName}}">
                        <input type="hidden" name="snapshotId" value="{{$.SnapshotId}}">
                        <input type="hidden" name="target" value="">
                        <a id="begin-restore-button" class="btn btn-primary" href="#"
                           data-toggle="modal" data-target="#restoreModal"
                           title="after adding files, click to begin restore">Begin Restore</a>
                    </form>
                </div>
            </div>
            <br/>

            <div class="row">
                <div class="col-md-8">
                    <table class="table table-sm table-striped restic-selection-table">
                        <tbody>
                        {{range $i, $f := .Files}}
                        <tr>
                            <td>
                                <code>
                                    {{if $f.IsDir}}
                                    <a href="{{call $.LinkToFileInDir .Name}}">{{$f.Name}}</a>
                                    {{else}}
                                    {{$f.Name}}
                                    {{end}}
                                </code>
                            </td>

                            <td>
                                <div class="container">
                                    <div class="checkbox-round">
                                        <input type="checkbox" id="checkbox-{{$i}}"
                                               data-dir="{{$.Dir}}"
                                               data-name="{{$f.Name}}"
                                               title="{{$f.Name}}"
                                               {{if call $.IsSelected $.Dir $f.Name}}
                                               checked
                                               {{end}}
                                        />
                                        <label for="checkbox-{{$i}}"></label>
                                    </div>
                                </div>
                            </td>

                        </tr>
                        {{end}}

                        </tbody>
                    </table>
                </div>
            </div>


            <div class="modal fade" id="restoreModal" tabindex="-1" role="dialog" aria-labelledby="restoreModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="restoreModalLabel">Restore a File or Directory</h5>

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <div class="alert alert-danger fade show" role="alert" style="display: none;">
                                <strong id="ajax-error">placeholder!</strong>
                            </div>

                            <div>
                                <h6>Restoring: <code id="filename-to-be-restored"></code></h6>
                            </div>

                            <form id="confirm-restore-form" action="/restore" method="post">
                                <div class="form-group">
                                    <label for="target" class="form-control-label">Choose a directory to restore the file(s) to:</label>
                                    <input type="text" class="form-control" id="target" name="target" autocomplete="off">
                                    <input type="hidden" name="repo" value="{{.CurrRepoName}}">
                                </div>
                            </form>

                            <div>
                                <small class="form-text text-muted">
                                    Enter a path where the files will be restored. New directories will be created if necessary.
                                </small>
                            </div>



                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-success" id="restore-submit">Restore</button>
                        </div>
                    </div>
                </div>
            </div>

            {{template "show_ajax_errors" . }}


            <script>
                $(function () {
                    $('input[type=checkbox]').change(function(e) {
                        var input = this;
                        var myRow = $(input).closest('tr');
                        e.preventDefault();

                        var dir = $(input).data('dir');
                        var name = $(input).data('name');
                        var selected = input.checked;

                        $.ajax({
                            type: "POST",
                            url: "/addrestorepath",
                            data: { dir: dir, name: name, selected: selected},
                            success: function(response) {
                                console.log('success: ' + JSON.stringify(response));
                                eval(response.on_success);

                                myRow.addClass('pulse');

                                setTimeout(function() {
                                    myRow.removeClass('pulse');
                                }, 500);

                            },
                            error: function(xhr, status, error) {
                                console.log('got xhr: ' + xhr + ', status: ' + status + ', error: ' + error);
                                console.log('error: got xhr.responseText: ' + xhr.responseText);
                                console.log('error: got xhr.responseJSON: ' + xhr.responseJSON);
                            }
                        });
                        return false;
                    });
                });

                $(function () {
                    var modal = $('#restoreModal');
                    var target = $(modal).find('input[name="target"]');

                    var modalForm = $('#confirm-restore-form');
                    var submissionForm;

                    // button that brings up the modal
                    $('#begin-restore-button').click(function (e) {
                        e.preventDefault();

                        clearAjaxErrors();

                        // remember form so it can be submitted if user clicks "OK" in modal
                        submissionForm = $(this).closest('form');
                    });

                    // OK button in modal
                    $('#restore-submit').click(function (e) {
                        e.preventDefault();

                        // copy target value from modal to submissionForm
                        $(submissionForm).find('input[name="target"]').val($(target).val());

                        var errorsDiv = $(modal).find('.modal-errors')[0];
                        var errorsUl = $(modal).find('ul.modal-errors')[0];

                        console.log("submitting: " + $(submissionForm).serialize());

                        $.ajax({
                            type: "POST",
                            url: "/restore",
                            data: $(submissionForm).serialize(),
                            success: function (response) {
                                modal.modal('hide');
                                $(errorsUl).empty();
                                $(errorsDiv).hide();

                                console.log("success: " + JSON.stringify(response));
                                eval(response.on_success);
                            },
                            error: showAjaxErrors
                        });
                        return false;
                    });
                });
            </script>
        </main>
    </div>
</div>
{{template "footer" . }}
</body>
</html>
