{{define "add_repo"}}

<div class="modal fade" id="addRepoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add a New Repository</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/addrepo">
                    <div class="form-group">
                        <label for="recipient-name" class="form-control-label">Path:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="password" class="form-control-label">Password:</label>
                        <input type="password" class="form-control" id="password">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="save-repo">Save</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#save-repo').click(function (e) {
            $(this.form).submit();
            alert('this.form: ' + this.form);
            $('#addRepoModal').modal('hide');
        });
    });

</script>
{{end}}
