{{define "add_repo"}}

<div class="modal fade" id="addRepoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add a New Repository</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="modal-errors" aria-hidden="true" style="display: none;">
                    <ul class="modal-errors alert alert-danger">

                    </ul>
                </div>

                <form id="add-repo-form" action="/addrepo" method="post">
                    <div class="form-group">
                        <label for="name" class="form-control-label">Name:</label>
                        <input type="text" class="form-control" id="name" name="name">
                    </div>
                    <div class="form-group">
                        <label for="path" class="form-control-label">Path:</label>
                        <input type="text" class="form-control" id="path" name="path">
                    </div>
                    <div class="form-group">
                        <label for="password" class="form-control-label">Password:</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="save-repo">Save</button>
            </div>
        </div>
    </div>
</div>

<script>

$(function () {
    $('#save-repo').click(function(e) {
        e.preventDefault();

        modal = $('#addRepoModal');
        errorsDiv = $(modal).find('.modal-errors')[0];
        errorsUl = $(modal).find('ul.modal-errors')[0];

        $.ajax({
            type: "POST",
            url: "/addrepo",
            data: $('#add-repo-form').serialize(),
            success: function(response) {
                modal.modal('hide');
                $(errorsUl).empty();
                $(errorsDiv).hide();

                window.location.href = "/"
            },
            error: function(xhr, status, error) {
//                console.log('got xhr: ' + xhr + ', status: ' + status + ', error: ' + error);
                console.log('got xhr.responseText: ' + xhr.responseText);
                console.log('got xhr.responseJSON: ' + xhr.responseJSON);

                // clear previous errors, if any
                $(errorsUl).empty();

                $.each(xhr.responseJSON, function( key, value ) {
                    li = '<li>' + value + '</li>'; //showing only the first error.
                    $(errorsUl).append(li);
                });

                $(errorsDiv).show();
            }
        });
        return false;
    });
});


</script>
{{end}}
