{{define "add_repo"}}

<div class="modal fade" id="addRepoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add a New Repository</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="modal-errors">
                    <ul class="modal-errors" aria-hidden="true">

                    </ul>
                </div>

                <form id="add-repo-form" action="/addrepo" method="post">
                    <div class="form-group">
                        <label for="recipient-name" class="form-control-label">Path:</label>
                        <input type="text" class="form-control" id="recipient-name" name="path">
                    </div>
                    <div class="form-group">
                        <label for="password" class="form-control-label">Password:</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="save-repo">Save</button>
            </div>
        </div>
    </div>
</div>

<script>
//    $(function () {
//        $('#save-repo').click(function (e) {
//            $('#add-repo-form').submit();
//            $('#addRepoModal').modal('hide');
//        });
//    });

$(function () {
    $('#save-repo').click(function(e) {
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "/addrepo",
            data: $('#add-repo-form').serialize(),
            success: function(response) {
                $('#addRepoModal').modal('hide');
            },
            error: function(xhr, status, error) {
                console.log('got xhr: ' + xhr + ', status: ' + status + ', error: ' + error);
                console.log('got xhr.responseText: ' + xhr.responseText);

                errorsUl = $('#addRepoModal').find('ul.modal-errors')[0];
                $(errorsUl).append(xhr.responseText);
                $(errorsUl).show('show');
            }
        });
        return false;
    });
});


</script>
{{end}}
